.changePassword{

  form {
    margin: 1.5em;
  }

  .item {
    margin-bottom: 20px;
  }

  .button-container {
    padding-left: 3em;
    padding-right: 3em;

    button {
      font-family: Avenir Roman Bold;
      padding-top: 8px;
    }
  }
}