//colors
$background: #414141;
$dark-gray: #585858;
$light-gray: #BCBEC0;
$lighter-gray: #DADADA;
$main-color: #3eb649;
$error: #a94442;
$stop-color: #ff6666;
$np-active-color: rgb(0, 193, 73);
$np-inactive-color: rgb(63, 63, 63);
$np-opportunity-color: rgb(188, 190, 192);

//sizes
$action-bar-height: 45px;
$footer-height: 60px;