<div id="authPage" class="vcenter">

  <div class="container initialWelcome col-xs-12">
    <!-- layers to slide and display texts-->
    <div class="upper layer pull-left p-bottom-xs-20">
      <span class="logo"></span>
    </div>
    <div class="down layer pull-left">
    </div>

    <!--first message -->
    <div class="col-sm-12 text-center p-left-xs-0 p-right-xs-0 text1">
      <p class="fc-white m-bottom-xs-0 fs-40">thank you &</p>
      <p class="fc-white m-bottom-xs-0 fs-40">welcome to</p>
    </div>
  </div>


  <div class="container slide2 col-xs-12" style="display: none;">
    <!-- layers to slide and display texts-->
    <div class="upper layer pull-left" style="display: none;">
      <div class="col-sm-12 fc-white fs-30 text-center">
        <p class="title p-bottom-xs-0">
          <span class="logo pull-left"></span>
        </p>
      </div>
    </div>
    <div class="down layer pull-left" style="display: none;">
    </div>

    <!--second message-->
    <div class="col-sm-12 text-center p-left-xs-0 p-right-xs-0 text2" style="display: none;">
      <p class="fc-white m-bottom-xs-0 fs-40">where you'll</p>
      <p class="fc-white m-bottom-xs-0 fs-40">be part of</p>
      <p class="fc-green m-bottom-xs-0 fs-40">advertising</p>
      <p class="fc-green m-bottom-xs-0 fs-40">with a</p>
      <p class="fc-green m-bottom-xs-0 fs-60 lh-35">purpose</p>
    </div>
  </div>

</div>

