<div class="purchase-info">
  <div class="header-info">Purchase Information</div>
  <div class="summary">
    <div class="item">{{"dashboard.billing.summary.standardPrice" | i18n}}: <span>{{price | currency }}</span></div>
    <div class="item">{{"dashboard.billing.summary.purchaseDiscount" | i18n}}: <span>{{discount | percentage }}</span></div>
    <div class="item">{{"dashboard.billing.summary.purchasePrice" | i18n}}: <span>{{purchasePrice | currency }}</span></div>
    <div class="item">{{"dashboard.billing.summary.donationAmount" | i18n}}: <span>{{donationAmount | currency }}</span></div>
  </div>
</div>